@tailwind base;
@tailwind components;
@tailwind utilities;

.element_sidebar {
    /* fill : #929eae; */
    fill : #1f2937;
    stroke : #1f2937;
    @apply flex items-center justify-start w-full p-3 my-1 text-gray-800 font-bold transition-colors duration-200 hover:bg-gray-200 rounded-md cursor-pointer
}

.element_sidebar_acitf {
    fill : white;
    stroke: white;
    @apply bg-secondaire text-white hover:bg-secondaire
}
.sous_menu_sidebar_actif{
    @apply bg-maquette-gris
}

/* Barre de défilement pour les navigateurs Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-orange-600;
    border-radius: 6px;
  }


  ::-ms-scrollbar-track {
      background: #f1f1f1;
  }

  ::-ms-scrollbar-thumb {
    @apply bg-orange-600;
    border-radius: 6px;
  }

  .enlever_shadow {
    outline: none;
    box-shadow : none;
    /* margin-bottom: 2rem; */
}
.enlever_shadow:focus{
    outline: none;
    box-shadow : none;
}
